:root {
  --background-color: #c6edf0;
  --accent-color: #7bb9c8;
  --text-accent-color: #112149;
  --text-color: #112149;
  --emergency-color: #da8048;
  --emergency-text-color: white;

  --title-font-size: 5vh;
  --caption-font-size: 4vh;
}

.article {
  position: relative;
  width: 20vh;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  height: 25vh;
  display: inline-block;
  margin: 5px;
  vertical-align: top;
}

#infoDiv {
  z-index: 3;
	position: absolute;
	width: 90vh;
  height: 600px;
  overflow: scroll;
	text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

#mobileNavBar {
  display: none;
}

#navbar {
  background-color: var(--accent-color);
  width: 100%;
  top: 0;
  height: 5vh;
  padding-top: 1vh;
  font-size: 3vh;
}

#emergencyButtonDiv {
  margin: 85vh 65vh;
}

.divTitle {
  font-size: 2vh;
}

.article > img {
  width: 18vh;
}

.noMobile {
  font-size: 1vh;
}