:root {
  --background-color: #c6edf0;
  --accent-color: #7bb9c8;
  --text-accent-color: #112149;
  --text-color: #112149;
  --emergency-color: #da8048;
  --emergency-text-color: white;

  --title-font-size: 6vh;
  --caption-font-size: 4vh;
}

@font-face {
  font-family: Feather;
  src: url(/fonts/Feather.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(/fonts/OpenSans.ttf);
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: 'OpenSans', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, .divTitle {
  font-family: 'Feather', sans-serif;
}

.article {
  position: relative;
  border-radius: 5px;
  vertical-align: top;
  display: inline-block;
}


.noDecoration {
  text-decoration: none;
}

#searchDiv {
  font-size: 10px;
}

#searchBar {
  border: 2px solid var(--accent-color);
}

#searchBar::placeholder {
  color: #cfcfcf;
}

.textButton {
  text-decoration: underline;
}

.textButton:hover, #closeButton:hover, #emergencyButtonDiv:hover, .abutton:hover {
  cursor: pointer;
}

.divTitle {
  color: var(--text-accent-color);
}

#emergencyButtonDiv {
  display: table;
  background-color: var(--emergency-color);
  width: 30vw;
  height: 7vh;
  border-radius: 10px;
  position: fixed;
  z-index: 3;
}

#emergencyButton {
  display: table-cell;
  color: var(--emergency-text-color);
  font-size: 2.4vh;
  vertical-align: middle;
}

li, p, .divCaption {
  font-size: 1.5vh;
}

ul, ol {
  list-style-position: inside;
  text-align: left;
}

#infoDiv > ul {
  margin-left: 25%;
}

#bodyDiv {
  position: relative;
  z-index: 1;
}

#navbar {
  background-color: var(--accent-color);
  width: 100%;
  top: 0;
}

#emergencyNotif {
  background-color: #ff3838;
  width: 100%;
  top: 0;
}

a {
  color: var(--text-accent-color);
}

#closeButton {
  text-align: right;
  margin: auto 10px -40px auto;
  font-size: 30px;
}

.abutton {
  margin: 10px;
}

.cite {
  font-size: 1vh;
}

.helpDiv {
  border: 10px solid var(--accent-color);
  width: 30vh;
  height: 30vh;
  position: relative;
  border-radius: 5px;
  vertical-align: top;
  display: inline-block;
}

