:root {
  --background-color: #c6edf0;
  --accent-color: #7bb9c8;
  --text-accent-color: #112149;
  --text-color: #112149;
  --emergency-color: #da8048;
  --emergency-text-color: white;

  --title-font-size: 5vh;
  --caption-font-size: 4vh;
}

.article {
  width: 70vw;
  border: 10px solid var(--accent-color);
  height: 20vw;
  display: inline-block;
  margin: 5px;
  text-align: left;
  padding-left: 10px;
}

.article:hover {
  cursor: pointer;
}

#infoDiv {
  z-index: 3;
	position: absolute;
	width: 90vw;
  height: 90vw;
  overflow: scroll;
	text-align: center;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  margin-left: 5vw;
}

#mobileNavBar {
  background-color: var(--accent-color);
  width: 100%;
  top: 90vh;
  height: 10vh;
  position: fixed;
  z-index: 2;
}

#mobileNavBar > a > img {
  width: 8vh;
  margin: 1vh 6vw 0 6vw;
}

#emergencyButtonDiv {
  margin: 78vh 65vw;
}

.article > img {
  height: 20vw;
  float: right;
  margin-top: -17.3vw;
}

.divTitle {
  font-size: 4.8vw;
  text-decoration: none;
  margin-top: 6.5vw;
}

.noMobile {
  display: none;
}

.hotline > .divTitle {
  font-size: 3vw;
}

.hotline > .callLink {
  font-size: 2.5vw;
}

#navbar {
  height: 7vw;
  padding-top: 1vw;
  font-size: 4vw;
}